@font-face {
  font-family: "AmaticSC";
  src: url("../fonts/AmaticSC-Bold.ttf");
}

html {
  --yellow: #f4d500;
  --green: #326935;
  --orange: #e04612;

  --text-main-color: rgb(74 79 84);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.5;
  color: var(--text-main-color);
  background-color: #f9fafd;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  margin: 0.8em 0;
  text-align: justify;
}

ul {
  padding-left: 1.5em;
}

ul > li {
  /* padding-left: 1em; */
  list-style: circle;
}

h2 {
  font-family: "AmaticSC";
  font-size: 2em;
  /* font-weight: bold; */
  margin: 0.5em 0;
  color: var(--green);
  line-height: 1;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.section {
  width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

.Head {
  height: 100vh;

  display: flex;

  background-color: var(--yellow);
  border-bottom: 1px solid #d1d6de;
}

.HeadLogo {
  width: 30em;
  max-width: 80%;
  height: auto;

  display: block;
  margin: auto;
}

.AdhesionBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  background-color: var(--yellow);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;

  width: 100%;
  min-height: 3em;
  padding: 9px 20px 8px;

  color: var(--green);
  font-weight: 500;
}

.AdhesionBtn:hover,
.AdhesionBtn:focus {
  opacity: 0.75;
}

.Footer {
    margin-top: 3rem;
}