@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/AmaticSC-Bold.ttf');
}

html {
    --yellow: #f4d500;
    --green: #326935;
    --orange: #e04612;  

    --text-main-color: rgb(74 79 84);
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    color: var(--text-main-color);
    background-color: #f9fafd;
}

p {
    margin: .8em 0;
    text-align: justify;
}

ul {
    padding-left: 1.5em;
}

ul > li {
    /* padding-left: 1em; */
    list-style: circle;
}

h2 {
    font-family: 'AmaticSC';
    font-size: 2em;
    /* font-weight: bold; */
    margin: .5em 0;
    color: var(--green);
    line-height: 1;
}

/******************************************************************************************/
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/******************************************************************************************/
.Head {
    height: 100vh;
    width: 100vw;
    margin-bottom: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--yellow);
    border-bottom: 1px solid #d1d6de;
}

.HeadLogo {
    width: 30em;
    max-width: 80%;
    height: auto;
 
    display: block;
    
}

.what {
    width: 800px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid #d1d6de;
    margin: 1em auto;
}

